.header-top {
    width: 100%;
    height: 88px; 
}

.container {
    max-width: 1200px;
}

.inner-wrap {
    display: flex;
    justify-content: space-between; 
    align-items: center; 
    height: 100%; 
    padding-top: 20px;
}

.inner-logo {
    width: 120px;
    height: 32px;
    display: flex;
    align-items: center; 
}

.inner-logo img {
    max-width: 100%; 
    height: auto; 
}

.inner-search {
    width: 514px;
    height: 56px;
    display: flex;
    align-items: center; 
}

.inner-search .ant-input {
    height: 100%; 
}

.hotline {
    display: flex;
    align-items: center; 
}

.inner-icon {
    display: flex;
    align-items: center; 
    gap: 20px; 
}

.navigation {
    background: aqua;
}   
