.ant-select-selector {
  background-color: #282941 !important;
  color: white !important;
}
.ant-select-item {
  color: white !important;
}

.ant-select-item:hover {
  background-color: #4a4e69;
}

.ant-select-selector:hover {
  background-color: #3e3e50 !important;
  border-color: #4a4e69 !important;
}

.ant-select-open .ant-select-selector {
  background-color: #4a4e69 !important;
  border-color: #4a4e69 !important;
}

.ant-select-arrow {
  color: white !important;
}

.ant-select-item {
  color: white !important;
}

.ant-select-item-option:hover {
  background-color: #3e3e50 !important;
  color: white !important;
}

.ant-select-item-option-selected {
  background-color: #4a4e69 !important;
  color: white !important;
}