.Footer {
    background-color: #2E2E2E;
}
.Footer .inner-wrap {
    display: flex;
    align-items: flex-start;
}
.Footer .inner-wrap p
{
    font-style: italic;
    color: white;
}
.ant-typography-title {
    color: white;
}
.inner-footer-middle,
.inner-footer-right {
    padding-top: 15px;
}
.footer-icon {
    padding: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.footer-icon > * {
    margin-right: 50px;
    font-size: 30px;
    color: white;
}