@tailwind base;
@tailwind components;
@tailwind utilities;
ul,
ol,
menu {
    list-style: disc;
}
.slick-slider {
    max-width: 100% !important;
}
.slick-list {
    padding-bottom: 15px !important;
    margin: 0 -5px !important;
}
.slick-slide > div {
    padding: 0 5px !important;
}

.slick-next:before,
.slick-prev:before {
    display: none !important;
}

.slick-next {
    z-index: 1 !important;
    right: -18px !important;
}

.slick-prev {
    z-index: 1 !important;
    left: -18px !important;
}

.slick-dots {
    position: inherit !important;
    bottom: 0 !important;
}

.slick-arrow {
    visibility: hidden !important;
}

.slick-slider:hover .slick-arrow {
    visibility: visible !important;
}

.slick-dots li button::before {
    opacity: 1 !important;
    width: 8px !important;
    height: 8px !important;
    cursor: pointer !important;
    border: 1px solid #000 !important;
    border-radius: 100% !important;
    background-color: transparent !important;
    font-size: 0px !important;
    transition: all 0.2s linear !important;
}

.slick-dots li.slick-active button:before {
    opacity: 1 !important;
    background-color: black !important;
}

.ant-input-number-input {
    text-align: center !important;
}

.image-gallery.fullscreen-modal {
    z-index: 100 !important;
}

.main_content ul li,
.main_content ol li {
    margin-left: 30px;
    margin-bottom: 8px;
}

.sub_content ul li,
.sub_content ol li {
    margin-left: 20px;
}

.main_content p,
.main_content div,
.main_content h2,
.main_content h3,
.main_content h4 {
    margin-bottom: 15px;
}

.sub_content p,
.sub_content h3,
.sub_content h4 {
    margin-bottom: 8px;
}

.main_content h2 {
    font-size: 24px;
}

.main_content figcaption {
    padding: 6px;
    text-align: center;
    font-size: 14px;
    font-style: italic;
    background-color: rgba(0, 0, 0, 0.05);
    margin-bottom: 15px;
}
