.image-gallery-left-nav .image-gallery-svg {
    width: 50px; /* điều chỉnh độ rộng mũi tên */
    height: 50px; /* điều chỉnh độ cao mũi tên */
}

/* Tăng kích thước mũi tên phải */
.image-gallery-right-nav .image-gallery-svg {
    width: 50px;
    height: 50px;
}
