.image-gallery-left-nav .image-gallery-svg {
    width: 50px; /* điều chỉnh độ rộng mũi tên */
    height: 50px; /* điều chỉnh độ cao mũi tên */
}

/* Tăng kích thước mũi tên phải */
.image-gallery-right-nav .image-gallery-svg {
    width: 50px;
    height: 50px;
}

/* .react-image-gallery.fullscreen .image-gallery-slide img {
    width: 100%;      
    height: 100vh;  
    object-fit: fill; 
} */

/* .react-image-gallery.fullscreen .image-gallery-slide img {
    width: auto;         
   height: 80vh;       
    object-fit: contain; 
    max-width: 100%;     
} */